extends layout

block content
  h1= title
  p Welcome to #{title}
  - let items = results
  div(class="container-fluid")
    div(class="col m-1")
      each restaurant, index in items
          - let destination = `dispatch(\"/restaurant/update?id=${restaurant._id}\")`
          div(class="row-sm-2" class="m-1")  Item #{restaurant.restaurant_Itemname}(#{restaurant.restaurant_Quantity}) is $#{restaurant.restaurant_Price}
          button.btn( class="btn-primary ml-1", onclick= destination) Update
  
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }